[submodule "deps/pugixml"]
	path = deps/pugixml
	url = git@github.com:zeux/pugixml.git
[submodule "deps/lz4"]
	path = deps/lz4
  url = git@github.com:Cyan4973/lz4.git
[submodule "deps/gtest"]
	path = deps/gtest
	url = git@github.com:bmatheny/gtest.git
